{% extends "page.html" %}

{% block content %}
    <h1>VocPrez Admin</h1>
    <div style="float:right;"><a href="{{ url_for('logout') }}">Log out</a></div>
    {% if message is not none %}
      <h4 style="color: darkred;">{{ message }}</h4>
    {% endif %}
    <h2>Functions</h2>
    <div style="display:grid; grid-template-columns: 50% 50%;">
      <div style="grid-column: 1;">
        <h3>Vocabs Database</h3>
        <form action="{{ url_for('admin') }}" method="post">
          <h4>Load/Reload One Vocab</h4>
          <p>This list contains all the vocabs in GitHub so vocabs newly added there can be loaded into the database. This function will always reload VocPrez too so any loaded/reloaded vocabs in the database will appear.</p>
          <input name="func" type="hidden" value="one" />
          <p><label for="reload-one">Select the vocab to reload</label></p>
          <select name="reload-one">
            {% for v in vocabs %}
              <option id="{{ v.id }}" value="{{ v.uri }}">{{ v.name }}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Reload One" />
        </form>
        <form action="{{ url_for('admin') }}" method="post">
          <h4>Reload All Vocabs</h4>
          <p>This will remove all vocabs from the database, load all vocabs in GitHub into it and reload VocPrez</p>
          <input name="func" type="hidden" value="all" />
          <input type="submit" value="Reload All" />
        </form>
      </div>
      <div style="grid-column: 2; margin-left: 20px;">
        <h3>VocPrez</h3>
        <h4>Reload Cache</h4>
        <div>
          <button onclick="window.location.href='{{ url_for("cache_reload") }}';">Reload</button>
          <p><em>Once you've clicked this and it says "Cache reloaded", just go "back" in the browser to return here.</em></p>
        </div>
      </div>
    </div>
{% endblock %}
